{include file="IWusers_admin_menu.htm"}
<div class="z-admincontainer">
    <div class="z-adminpageicon">{img modname='core' src='filenew.png' set='icons/large'}</div>
    <h2>{gt text="Create user"}</h2>
    <form id="newUser" class="z-form" enctype="multipart/form-data" method="post" action="{modurl modname="IWusers" type="admin" func="create"}">
        <input type="hidden" name="authid" value="{insert name="generateauthkey" module="IWusers"}" />
        <fieldset>
            <legend>{gt text="Data from the user"}</legend>
            <div class="z-formrow">
                <label for="nom">{gt text="Name"}</label>
                <input id="nom" name="nom" type="text" />
            </div>
            <div class="z-formrow">
                <label for="cognom1">{gt text="1st surname"}</label>
                <input id="cognom1" name="cognom1" type="text" />
            </div>
            <div class="z-formrow">
                <label for="cognom2">{gt text="2nd surname"}</label>
                <input id="cognom2" name="cognom2" type="text" />
            </div>
            <div class="z-formrow">
                <label for="avatar">{gt text="Avatar"}</label>
                <input id="avatar" name="avatar" type="file" />
                <div class="z-informationmsg z-formnote">
                    {gt text="The avatar image must be 90x120 px aproximately with the extensions jpg, gif or png"}
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>{gt text="Data Connection"}</legend>
            <div class="z-formrow">
                <label for="uname">{gt text="User name"} <span class="z-form-mandatory-flag"> *</span></label>
                <input id="uname" name="uname" type="text" />
            </div>
            <div class="z-formrow">
                <label for="pass">{gt text="Password"} <span class="z-form-mandatory-flag"> *</span></label>
                <input id="pass" name="pass" type="text" />
            </div>
            <div class="z-formrow">
                <label for="email">{gt text="E-mail"} <span class="z-form-mandatory-flag"> *</span></label>
                <input id="email" name="email" type="text" />
            </div>
            <div class="z-formrow">
                <label for="group">{gt text="Initial groups"} <span class="z-form-mandatory-flag"> *</span></label>
                {foreach item=group from=$groups}
                <div class="z-formnote">
                    <input type="checkbox" name="group[]" {if $defaultgroup eq $group.name}checked onchange="this.checked=true"{/if} value="{$group.id}" />
                    {$group.name}
                </div>
                {/foreach}
            </div>
        </fieldset>
        {gt text="The fields with * are required"}
        <div class="z-center">
            <div class="z-button">
                <a title="Create user" onClick="javascript:forms['newUser'].submit()">{img modname='core' src='button_ok.png' set='icons/small' __alt="Create user" __title="Create user"} {gt text="Create user"}</a>
            </div>
            <div class="z-button">
                <a href="{modurl modname="IWusers" type="admin" func="main"}">{img modname='core' src='button_cancel.png' set='icons/small' __alt="Cancel" __title="Cancel"} {gt text="Cancel"}</a>
            </div>
        </div>
    </form>
</div>