{include file="IWusers_admin_menu.htm"}
<div class="z-admincontainer">
    <div class="z-adminpageicon">{img modname='core' src='configure.png' set='icons/large'}</div>
    <h2>{gt text="Configure the module"}</h2>
    <form  class="z-form" enctype="application/x-www-form-urlencoded" method="post" name="config" id="config" action="{modurl modname="IWusers" type="admin" func="updateConf"}">
        <input type="hidden" name="authid" value="{insert name="generateauthkey" module="IWusers"}" />
        <div class="z-formrow">
            <label for="friendsSystemAvailable">{gt text="Set contacts list available"}:</label>
            <input type="checkbox" name="friendsSystemAvailable" {if $friendsSystemAvailable eq 1}checked{/if} value="1" />
        </div>
        <div class="z-formrow">
            <label for="usersCanManageName">{gt text="Users can manage their real names"}:</label>
            <input type="checkbox" name="usersCanManageName" {if $usersCanManageName eq 1}checked{/if} value="1" />
        </div>
        <div class="z-formrow">
            <label for="invisibleGroupsInList">{gt text="Invisible groups in users search"}:</label>
            <div class="z-formnote">
                {foreach item=group from=$groupsArray}
                <input type="checkbox" name="groups[{$group.id}]" value="{$group.id}" {if $group.checked}checked{/if} />{$group.name} <br />
                {/foreach}
            </div>
        </div>
        {*}
        <div class="z-formrow">
            <label for="jclicJarBase">{gt text="Change avatar"}:</label>
            <input type="checkbox" name="friendsSystemAvailable" {if $friendsSystemAvailable eq 1}checked{/if} value="1" />
        </div>
        <div class="z-formrow">
            <label for="invisibleGroupsInList">{gt text="Users policy"}:</label>
        </div>
        <div class="z-formrow">
            <table>
                <thead>
                    <tr>
                        <th>{gt text="Invisible groups in users search"}</th>
                        <th>{gt text="Impossible to change mail address"}</th>
                        <th>{gt text="Impossible to change password"}</th>
                        <th>{gt text="Avatar change needs validation"}</th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        {foreach item=group from=$groupsArray}
                        <input type="checkbox" name="groups[{$group.id}]" value="{$group.id}" {if $group.checked}checked{/if} />{$group.name} <br />
                        {/foreach}
                    </td>
                    <td>
                        {foreach item=group from=$groupsArray}
                        <input type="checkbox" name="groups[{$group.id}]" value="{$group.id}" {if $group.checked}checked{/if} />{$group.name} <br />
                        {/foreach}
                    </td>
                    <td>
                        {foreach item=group from=$groupsArray}
                        <input type="checkbox" name="groups[{$group.id}]" value="{$group.id}" {if $group.checked}checked{/if} />{$group.name} <br />
                        {/foreach}
                    </td>
                    <td>
                        {foreach item=group from=$groupsArray}
                        <input type="checkbox" name="groups[{$group.id}]" value="{$group.id}" {if $group.checked}checked{/if} />{$group.name} <br />
                        {/foreach}
                    </td>
                </tr>
            </table>
        </div>
        {*}
        <div class="z-center z-buttons">
            <a title="{gt text="Modify the configuration"}" onClick="javascript:sendConfig()" style="cursor:pointer;";>{img modname='core' src='button_ok.png' set='icons/small'} {gt text="Modify the configuration"}</a>
        </div>
    </form>
</div>